{% extends "layout.html" %}
{% block content %}
	<div class="container center-align">
		{% for pin in pins %}
			<div class="row">
				<h4>{{ pins[pin].name }}
				{% if pins[pin].state == true %}
					is currently <strong>on</strong>
					<a href="/api/{{pin}}/off" class="waves-effect waves-light btn">Turn off</a>
				{% else %}
					is currently <strong>off</strong>
					<a href="/api/{{pin}}/on" class="waves-effect waves-light btn">Turn on</a>
				{% endif %}
				</h4>
			</div>
		{% endfor %}
	</div>
{% endblock %}
